.card-cria-lembrete {
    width: 40vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    left: 75px;
    top: 100px;
    flex-basis: 40%;
    
}

.card-cria-lembrete__inputs {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.card-cria-lembrete__inputs input {
    background-color: #EFE3E3;
    padding: 1rem;
    border-radius: 0.688rem;
    border: none;
    outline: none;
    margin-bottom: 1rem;
}

.card-cria-lembrete__inputs ::placeholder {
    color: #B8A5A5;
}

.botao-criar-lembrete {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 5.31vw;
    height: 3.80vh;
    background-color: #E55B5B;
    border-radius: 2.813rem;
    border: none;
    color: #EFDFDF;
}

